.form {
	margin: 0 1rem;

	&__item {
		margin: 0 -1rem;
	}

	// Text Inputs
	&__block {
		width: 100%;
		line-height: 5.5rem;
		padding-left: 3rem;
		background-color: rgba(42, 18, 92, 0.6);
		border-radius: 0.5rem;
		font-size: 1.6rem;
		border: 0;
		color: $text-color;
		&::placeholder {
			opacity: 1;
			color: $text-color;
		}
	}

	&__text {
		width: 100%;
		font-size: 1.6rem;
		height: 15rem;
		resize: none;
		padding-top: 1.5rem;
		padding-left: 3rem;
		background-color: rgba(42, 18, 92, 0.6);
		border-radius: 0.5rem;
		border: 0;
		color: $text-color;
		&::placeholder {
			opacity: 1;
			color: $text-color;
		}
	}

	&__button {
		margin-top: 2rem;
		box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1),
			inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2);
		border-bottom: 0;
		border-radius: 0.5rem;
		padding: 0 5.6rem;
		line-height: 5.5rem;

		& i {
			padding-left: 2rem;
		}
	}
}
