//////// Banner Area ////////
.banner-area {
	height: 102rem;
	position: relative;
}

// Content Adjustments
.banner-content {
	padding-top: 30rem;
	@media #{$xs} {
		padding-top: 20rem;
	}

	// Button Adjustments
	& li {
		display: inline-block;
		margin: 0 0.5rem;
		@media #{$xs} {
			margin: 1rem 0 0;
		}
		& a {
			@media #{$xs} {
				padding: 0 2rem;
			}
		}
	}
}

// Title
.title {
	color: $white;
	background: linear-gradient(120deg, $theme-color 0%, $secondary-color 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 5rem;
	line-height: 6rem;
	font-weight: 600;
	padding-bottom: 3rem;
	// Tablet
	@media #{$md} {
		font-size: 3.6rem;
		line-height: 4rem;
	}
	@media #{$xs} {
		font-size: 4rem;
		line-height: 6rem;
	}
}
// Moon Title
.title__primary {
	font-size: 10rem;
	font-weight: 700;
	padding-bottom: 3rem;
	@media #{$xs} {
		font-size: 7rem;
	}
}

// Social Icons
.social {
	position: absolute;
	left: 5rem;
	top: 50%;
	@include transform(translateY(-50%));

	& a {
		font-size: 2.4rem;
		color: $white;
		margin: 1rem 0;
		@include transition(0.3s);
		&:hover {
			color: $theme-color;
		}
	}

	//mobile
	@media #{$xs} {
		display: none;
		left: 2rem;
	}
}

// Buttons
.main-btn {
	margin-left: 1rem;
}
