//////// Navigation ////////
.header__nav {
	// Navbar always at the top
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99;
	// Default Position
	background-color: transparent;
	padding: 0 1.5rem;
	border-bottom: 1px solid #041320;
	// Tablet
	@media #{$md} {
		padding: 0.5rem 0;
	}
	// mobile
	@media #{$xs} {
		padding: 0.5rem 0;
	}
}

// Change Properties on scroll Down
.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #041320;
	@include box-shadow(0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.04));
	z-index: 999;
	@include animation(sticky 1.2s);
}
// Navbar
.navbar {
	position: relative;
	padding: 0;
}

// Navbar Logo
.navbar-brand {
	margin-left: 0;
	width: 7.5rem;
}

// Hamburger Menu
.navbar-toggler {
	padding: 1rem 1.2rem;
	border-radius: 0;
	border: 0;
}

// Hamburger Icon
.toggler-icon {
	width: 3rem;
	height: 2px;
	background-color: $white;
	margin: 0.5rem 0;
	display: block;
	position: relative;
	@include transition(0.3s);
}

// Active Mode / Makes the Cross Effect on the Hamburger Menu
.active {
	& .toggler-icon {
		&:nth-child(1) {
			@include transform(rotate(45deg));
			top: 0.7rem;
		}

		&:nth-child(2) {
			opacity: 0;
		}

		&:nth-child(3) {
			@include transform(rotate(135deg));
			top: -0.7rem;
		}
	}
}

// Navbar Menu on Smaller Screens
.navbar-collapse {
	// tablet
	@media #{$md} {
		position: absolute;
		top: 106%;
		left: 0%;
		width: 100%;
		background-color: rgba(39, 17, 86, 0.8);
		z-index: 8;
		padding: 1rem 1.6rem;
		@include box-shadow(0 2.6rem 4.8rem 0 rgba(0, 0, 0, 0.15));
	}
	// mobile
	@media #{$xs} {
		position: absolute;
		top: 106%;
		left: -1.5rem;
		width: 106%;
		background-color: rgba(39, 17, 86, 0.8);
		z-index: 8;
		padding: 1rem 1.6rem;
		@include box-shadow(0 2.6rem 4.8rem 0 rgba(0, 0, 0, 0.15));
	}
}

// Navbar List
.navbar-nav {
	@media #{$md} {
		margin-right: 0;
	}

	@media #{$xs} {
		margin-right: 0;
	}
}

// Navbar Items

.nav-item {
	position: relative;
}

// Navbar Links
.nav-link {
	font-size: 1.8rem;
	font-weight: 500;
	color: $text-color !important;
	text-transform: uppercase;
	position: relative;
	@include transition(0.5s);
	line-height: 6rem;
	margin-right: 4rem;
	padding: 0;
	font-family: $Barlow;
	border-bottom: 2px solid transparent;

	// On Hover
	&:hover {
		color: $white !important;
		border-bottom: 2px solid $theme-color;
	}

	//Large
	@media #{$lg} {
		font-size: 1.4rem;
		margin: 0 0.8rem;
	}
	// Laptop
	@media #{$laptop} {
		margin-right: 24px;
	}
	// Tablet
	@media #{$md} {
		color: $white !important;
		line-height: 6rem !important;
		font-size: 1.4rem;
		padding: 0;
		display: block;
		border: 0;
		margin: 0;
	}
	// Mobile
	@media #{$xs} {
		color: $white !important;
		line-height: 6rem !important;
		font-size: 1.4rem;
		padding: 0;
		display: block;
		border: 0;
		margin: 0;
	}
}

// After Moving
.header__nav.sticky .nav-item a {
	line-height: 6rem !important;
	// Tablet
	@media #{$md} {
		line-height: 6rem !important;
	}
	// Mobile
	@media #{$xs} {
		line-height: 6rem !important;
	}
}
