// Main style for Fonts
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Barlow', sans-serif;
	font-weight: 700;
	color: $text-color;
	margin: 0;
}
// Font Sizes for headings

h1 {
	font-size: 4.8rem;
}
h2 {
	font-size: 3.6rem;
}
h3 {
	font-size: 2.8rem;
}
h4 {
	font-size: 2.2rem;
}
h5 {
	font-size: 1.8rem;
}
h6 {
	font-size: 1.6rem;
}

// paragrahp styling
p {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.4rem;
	color: $text-color;
	margin: 0;
}
