.tokenomics-area {
	position: relative;
	z-index: 10;
	padding-top: 19rem;
	padding-bottom: 15rem;
}

// Section Title

//Sub
.tokenomics__sub {
	font-size: 2.4rem;
	font-weight: 600;
	text-transform: uppercase;
	color: $theme-color;
	position: relative;

	// Line before
	&::before {
		position: absolute;
		content: '';
		left: -10rem;
		top: 50%;
		@include transform(translateY(-50%));
		height: 2px;
		width: 9rem;
		background: $theme-color;
		@media #{$xs} {
			width: 2rem;
			left: -3rem;
		}
	}

	// Line After
	&::after {
		position: absolute;
		content: '';
		right: -10rem;
		top: 50%;
		@include transform(translateY(-50%));
		height: 2px;
		width: 9rem;
		background: $theme-color;
		@media #{$xs} {
			width: 2rem;
			right: -3rem;
		}
	}
}
// Title
.tokenomics__title {
	font-size: 5rem;
	line-height: 6rem;
	font-weight: 600;
	padding: 0.8rem 1rem 2rem;
	color: white;
	@media #{$xs} {
		font-size: 3rem;
		line-height: 3rem;
	}
	@media #{$lg} {
		font-size: 3.8rem;
		line-height: 3.2rem;
	}
}

.tokenomics__adress {
	font-size: 2rem;
	color: $white;
	font-weight: 400;
	background-color: rgba(49, 23, 104, 0.5);
	padding: 1rem 2rem;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

// Stat Cards
.stat {
	border-radius: 0.5rem;
	padding: 4.8rem 3.5rem 3rem 16.4rem;
	min-height: 25rem;
	position: relative;
	-webkit-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
	border-radius: 4px;
	// Hover Effect
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#311768),
		color-stop(50%, #4a0094),
		to(#311768)
	);
	background: linear-gradient(to right, #311768 0%, #4a0094 50%, #311768 100%);
	background-size: 200% auto;
	letter-spacing: 1px;
	@include box-shadow(0px 2px 0px 0px rgba(0, 0, 0, 0.1));

	&:hover {
		background-position: right center;
	}
	@media #{$lg} {
		padding: 4.8rem 3.5rem 4.9rem 12rem;
	}
	@media #{$md} {
		padding: 4.8rem 3.5rem 4.9rem 12rem;
	}
	@media #{$xs} {
		padding: 2rem;
	}

	// Box Shadows
	&-1 {
		@include box-shadow(1rem 0.5rem 1rem rgba($black-soft, 0.3));
	}

	&-2 {
		@include box-shadow(-1rem 0.5rem 1rem rgba($black-soft, 0.3));
	}

	&-3 {
		@include box-shadow(1rem -0.5rem 1rem rgba($black-soft, 0.3));
	}

	&-4 {
		@include box-shadow(-1rem -0.5rem 1rem rgba($black-soft, 0.3));
	}

	// Icons
	&__img {
		width: 15rem;
		position: absolute;
		left: 2rem;
		top: 50%;
		@include transform(translateY(-50%));
		@media #{$lg} {
			left: 2rem;
		}
		@media #{$xs} {
			position: static;
			@include transform(translateY(0));
			padding-bottom: 1rem;
		}
	}

	&__content {
		padding-left: 2rem;
		@media #{$lg} {
			padding-left: 6rem;
		}
		@media #{$md} {
			padding-left: 6rem;
		}
	}

	// Title
	&__title {
		color: $white;
		font-size: 2.6rem;
		text-transform: uppercase;
	}

	// Text
	&__text {
		font-size: 2rem;
		line-height: 3rem;
		color: $text-color;
		padding-top: 1.1rem;
		@media #{$lg} {
			font-size: 1.6rem;
			line-height: 2.6rem;
		}
	}
}

// Buttons
.tokenomics-btn li {
	display: inline-block;
	margin: 0 3px;
	@media #{$xs} {
		margin-top: 1rem;
	}
}
